<h1>new colors</h1>
<div class="color-new">
	<div class="color-new_preview">
		
	</div>

	<form class="color-new_form">
		{{input type="text" class="color-new_input" placeholder="hex code"}}
		{{input type="text" class="color-new_input" placeholder="color name"}}
		{{input type="submit" value="save" class="color-new_button"}}

	</form>

</div>